<form class="signup-form form-formater">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email Address</label>
    <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp" placeholder="Email" />
    <div id="emailHelp" class="form-text">We'll never share your email with
      anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="InputUsername" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-signup" placeholder="Username">
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" >Password</label>
    <input type="password" class="form-control" id="password-signup" placeholder="Password" />
  </div>
  <button type="submit" class="btn btn-primary" id="signup-submit">Submit</button>
</form>

<script src="/javascript/signup.js"></script>