<section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
  <div>
    <h1 class="text-lg font-semibold text-black capitalize dark:text-white">Sign Up</h1>
  </div>
  <form>
    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">

      <div>
        <label class="text-black dark:text-black" for="emailAddress">Email Address</label>
        <input id="email-signup" type="email"
          class="block w-full px-4 py-2 mt-2 text-black bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" placeholder="Email Adress">
      </div>

       <div>
        <label class="text-black dark:text-black">Username</label>
        <input id="username-signup" type="text"
          class="block w-full px-4 py-2 mt-2 text-black bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" placeholder="Username">
      </div>

      <div>
        <label class="text-black dark:text-black" for="password">Password</label>
        <input id="password-signup" type="password"
          class="block w-full px-4 py-2 mt-2 text-black bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" placeholder="Password">
      </div>
      <div>
        <label class="text-black dark:text-black" for="password">Password</label>
        <input id="password-confirm" type="password"
          class="block w-full px-4 py-2 mt-2 text-black bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" placeholder="Password Confirmation" >
      </div>
      <div id="error-nwl"></div>
      <div class="mt-6 flex justify-end flex-row">
        <button
          class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600 mr-4"
          id="submit-signup">Sign Up</button>
        <a class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600"
          href="/login">Login</a>
      </div>
  </form>
</section>

<script src="/javascript/signup.js"></script>