<div class="flex flex-col items-center">
  {{> post-info post}}

  {{#if loggedIn}}
  <form class="comment-form" style="width: 600px">
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave A Comment Here" id="floatingTextarea2" style="height: 120px;"></textarea>
      <label for="floatingTextarea2">Leave A Comment Here</label>
    </div>

    <div class="mt-4">
      <button
        class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600 mr-4"
        id="add-comment">Add Comment</button>
    </div>
  </form>
  {{/if}}

  {{> comments post.comments}}
</div>


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}